<nav class="navbar">
    <div class="container navbar-container">

        <a href="/" class="logo">
    <img src="/media/logo chemist.png"
         alt="Vikadia Pharmacy and Home Care">
</a>

        <div class="nav-links">
            <a href="/">Home</a>
            <a href="#about">About</a>
            <a href="#services">Services</a>
            <a href="{% url 'products' %}">Products</a>
            <a href="#home-care">Home Care</a>
            <a href="#contact">Contact</a>
        </div>

        <a href="https://wa.me/" class="nav-whatsapp">
            WhatsApp
        </a>

    </div>
</nav>